.hoverBtnGroup {
  //   display: none;
  //   position: absolute;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
}

.hoverBtn {
  cursor: pointer;
  margin-inline: 10px;
  width: 60px;
  height: 60px;
  background-color: #fefff6;
  border-radius: 50%;
  border: none;
}
