.countNumber {
  background: #8e877770;
  color: #3e3b35;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plusBtn {
  background: #8e8777;
  color: #3e3b35;
}
.minusBtn {
  background: #8e877795;
  color: #3e3b35;
}
