@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* adobe din-condensed */
@import url("https://use.typekit.net/fna5zqs.css");
.screen {
  font-family: "IBM Plex Sans", "din-condensed", "Noto Sans TC Regular", Helvetica, Arial, "PingFang TC", "苹方-繁", "Heiti TC", "黑體-繁", "Microsoft JhengHei", "微軟正黑體", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fefff6;
  display: flex;
  width: 100%;
}
.screen .overlap_group_wrapper {
  background-color: #fefff6;
  width: 1645px;
  height: 1350px;
}
.screen .overlap_group {
  position: absolute;
}
.screen .group {
  background-color: #fefff6;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2509803922);
  height: 1100px;
  left: 1px;
  position: absolute;
  top: 102px;
  width: 1200px;
}
.screen .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 80px;
  left: 0;
  position: absolute;
  top: 0;
}
.screen .member_center_wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.screen .member_center {
  color: #3e3b35;
  font-family: "din-condensed", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1.6px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.screen .text_wrapper {
  font-weight: 700;
}
.screen .span {
  font-family: "din-condensed", Helvetica;
  font-weight: 700;
}
.screen .text_wrapper_2 {
  font-family: "ibm plex sans-semibold", helvetica;
  font-weight: 600;
}
.screen .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  position: relative;
}
.screen .tr_th {
  align-items: flex-start;
  display: flex;
  height: 80px;
  position: relative;
  width: 1200px;
}
.screen .th {
  align-items: flex-start;
  align-self: stretch;
  background-color: #3d3a35;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 10px 10px 10px 30px;
  position: relative;
}
.screen .th_2 {
  align-self: stretch;
  color: #fefff6;
  font-family: "ibm plex sans-medium", helvetica;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: normal;
  position: relative;
}
.screen .th_wrapper {
  align-items: flex-end;
  align-self: stretch;
  background-color: #3d3a35;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.screen .th_3 {
  align-self: stretch;
  color: #fefff6;
  font-family: var(--p-zh-font-family);
  font-size: var(--p-zh-font-size);
  font-style: var(--p-zh-font-style);
  font-weight: var(--p-zh-font-weight);
  letter-spacing: var(--p-zh-letter-spacing);
  line-height: var(--p-zh-line-height);
  position: relative;
  text-align: right;
}
.screen .avatar {
  height: 153px;
  position: relative;
  width: 153px;
}
.screen .frame_2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}
.screen .ellipse {
  background-color: #3d3a35;
  border-radius: 76.5px;
  height: 153px;
  opacity: 0.7;
  position: relative;
  width: 153px;
}
.screen .img {
  height: 99.35%;
  left: 0.65%;
  position: absolute;
  top: 0;
  width: 99.35%;
}
.screen .camera_retro_solid_wrapper {
  background-color: #d1ef1a;
  border-radius: 22.5px;
  height: 29.41%;
  left: 35.29%;
  position: absolute;
  top: 69.93%;
  width: 29.41%;
}
.screen .camera_retro_solid {
  height: 23px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 23px;
}
.screen .text_wrapper_3 {
  color: #fefff6;
  font-family: "noto sans-regular", helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 14.38%;
  left: 28.1%;
  letter-spacing: 1.04px;
  line-height: normal;
  position: absolute;
  top: 42.48%;
}
.screen .frame_3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
}
.screen .frame_4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.screen .input {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.screen .form_control {
  color: #3d3a35;
  font-family: var(--h6-zh-font-family);
  font-size: var(--h6-zh-font-size);
  font-style: var(--h6-zh-font-style);
  font-weight: var(--h6-zh-font-weight);
  letter-spacing: var(--h6-zh-letter-spacing);
  line-height: var(--h6-zh-line-height);
  margin-top: -1px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.screen .dropdown_wrapper {
  background: #fefff6;
}
.screen .input_2 {
  align-items: center;
  border: 2px solid;
  border-color: #8e8677;
  border-radius: 3px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 455px;
}
.screen .input_date {
  position: relative;
}
.screen .text_input {
  background-color: transparent;
  border: 0;
  color: #8e8677;
  flex: 1;
  flex-grow: 1;
  font-family: "IBM Plex Sans", helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 30px;
  padding: 24px 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
}
.screen .text_input_date {
  border: 2px solid;
  border-color: #8e8677;
  border-radius: 3px;
  width: 455px;
  background-color: transparent;
  color: #8e8677;
  flex: 1;
  flex-grow: 1;
  font-family: "IBM Plex Sans", helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 30px;
  padding: 24px 16px;
  letter-spacing: 0;
  position: relative;
}
.screen .icon {
  height: 26px;
  position: relative;
  width: 26px;
}
.screen .vector {
  color: #8e8777;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 28px;
}
.screen .vector_date {
  color: #8e8777;
  height: 28px;
  right: 20px;
  position: absolute;
  top: 12px;
  transition: all 0.2s ease;
  width: 28px;
  z-index: 5;
}
.screen .frame_5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.screen .warning {
  color: #a1b719;
  height: 17px;
  position: relative;
  width: 17px;
}
.screen .text_wrapper_4 {
  color: #8e8777;
  font-family: "IBM Plex Sans", helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.screen .frame_6 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 60px;
  position: relative;
}
.screen .text_wrapper_5 {
  background: #fefff6;
  color: #8e8777;
  flex: 1;
  font-family: "IBM Plex Sans", helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 31px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
}
.screen .vector_wrapper {
  height: 26px;
  position: relative;
  transition: all 0.2s ease;
  width: 26px;
}
.screen .vector_wrapper .dropdownContent {
  width: 500px;
  height: 54px;
  border-radius: 3px;
  border: 2px solid #8e8777;
  background: #fefff6;
  color: #8e8777;
  font-size: 24px;
  font-weight: 500;
}
.screen .input_3 {
  color: #8e8777;
  background-color: #fefff6;
  font-size: 24px;
  align-items: center;
  border: 2px solid;
  border-color: #8e8677;
  border-radius: 3px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 455px;
}
.screen .text_input_wrapper {
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: #8e8677;
  border-radius: 3px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.screen .btn {
  all: unset;
  align-items: center;
  background-color: #3e3b35;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 9px 10px;
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
}
.screen .frame_7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}
.screen .key {
  color: #d1ef1a;
  height: 28px;
  position: relative;
  width: 28px;
}
.screen .text_wrapper_6 {
  color: #fefff6;
  font-family: "IBM Plex Sans", helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 390px) {
  .overlap_group_wrapper {
    width: 390px;
  }
  .overlap_group_wrapper .group {
    display: none;
  }
  .overlap_group_wrapper .frame {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 0;
    left: 0;
    position: absolute;
    top: 50px;
    width: 390px;
  }
  .overlap_group_wrapper .member_center {
    color: #3e3b35;
    font-family: "din-condensed", Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.8px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .overlap_group_wrapper .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .tr_th {
    align-items: flex-start;
    display: flex;
    height: 50px;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .th {
    align-items: flex-start;
    align-self: stretch;
    background-color: #3d3a35;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 10px 10px 10px 30px;
    position: relative;
  }
  .overlap_group_wrapper .th_2 {
    align-self: stretch;
    color: #fefff6;
    font-family: "ibm plex sans-medium", helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.7px;
    line-height: normal;
    position: relative;
  }
  .overlap_group_wrapper .th_wrapper {
    display: none;
  }
  .overlap_group_wrapper .th_3 {
    display: none;
  }
  .overlap_group_wrapper .frame_3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    flex-direction: column;
  }
  .overlap_group_wrapper .input {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .input_2 {
    align-items: center;
    border: 2px solid;
    border-color: #8e8677;
    border-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .input_3 {
    color: #8e8777;
    background-color: #fefff6;
    font-size: 24px;
    align-items: center;
    border: 2px solid;
    border-color: #8e8677;
    border-radius: 3px;
    display: flex;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .text_input {
    background-color: transparent;
    border: 0;
    color: #8e8677;
    flex: 1;
    flex-grow: 1;
    font-family: "IBM Plex Sans", helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    padding: 24px 16px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
  }
  .overlap_group_wrapper .form_control {
    color: #3d3a35;
    font-family: var(--h6-zh-font-family);
    font-size: var(--h6-zh-font-size);
    font-style: var(--h6-zh-font-style);
    font-weight: var(--h6-zh-font-weight);
    letter-spacing: var(--h6-zh-letter-spacing);
    line-height: var(--h6-zh-line-height);
    margin-top: -1px;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .text_input_date {
    border: 2px solid;
    border-color: #8e8677;
    border-radius: 3px;
    width: 390px;
    background-color: transparent;
    color: #8e8677;
    flex: 1;
    flex-grow: 1;
    font-family: "IBM Plex Sans", helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    padding: 24px 16px;
    letter-spacing: 0;
    position: relative;
  }
  .overlap_group_wrapper .text_wrapper_4 {
    color: #8e8777;
    font-family: "IBM Plex Sans", helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 390px;
  }
  .overlap_group_wrapper .dropdownContent {
    width: 390px;
    height: 54px;
    border-radius: 3px;
    border: 2px solid #8e8777;
    background: #fefff6;
    color: #8e8777;
    font-size: 24px;
    font-weight: 500;
  }
}/*# sourceMappingURL=member-info.module.css.map */