$light: #fefff6;
$dark: #3e3b35;
$secondary: #8e8777;
$main: #d1ef1a;
$highlight: #a1b719;

// google Noto Sans TC 字體
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';

// google IBM Plex Sans
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* adobe din-condensed */
@import url('https://use.typekit.net/fna5zqs.css');

.title_wrap {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;

  .title {
    color: $dark;
    // font-family: 'din-condensed', Helvetica;
    font-size: 64px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .text_din,
  .span {
    font-family: 'din-condensed', Helvetica;
    font-weight: 700;
  }

  .text_ibm {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
  }
}
