.bodyWrapper {
  // position: relative;
  margin-left: auto;
  background: var(--dark, #3e3b35);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 440px;
  display: flex;
  width: 1646px;
  // 12/12新增
  @media (max-width: 1366px) {
    width: calc(100% - 274px);
  }
}

.content {
  width: 1646px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.listItem {
  color: #8e8777;
  list-style-type: none;
}

.listItem li {
  margin: 10px;
}
.listItem2 {
  color: #8e8777;
  list-style-type: none;
}
.listItem2 li {
  margin: 10px;
}
.itemBox {
  display: flex;
  justify-content: space-around;
}
.ftLeft {
  display: flex;
}
.ftRight {
  width: 163px;
  height: 231px;
}

.loginBtn {
  width: 137px;
  height: 51px;
  background-color: #8e8777;
  color: #fefff6;
  border-radius: 8px;
  border: none;
  margin-left: 12px;
}
.loginWord {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fefff6;
  text-decoration: none;
}
.statement {
  color: #8e8777;
  padding-top: 20px;
  border-top: 1px solid #8e8777;
  text-align: center;
}
.arrowUp {
  width: 31px;
  height: 31px;
}
.backtoTop {
  font-size: 15px;
  background-color: #d1ef1a;
  text-decoration: none;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}
.backtoTopText {
  color: #3e3b35;
  writing-mode: vertical-lr;
}
.arrowIcon {
  width: 31px;
  height: 31px;
  color: #3e3b35;
}

// 手機
.containerPh {
  height: 107px;
}
.contentPh {
  width: 321px;
  height: 100%;
  background: var(--dark, #3e3b35);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.statementPh {
  color: #8e8777;
  font-size: 10px;
  text-align: center;
  margin-top: 60px;
}
.backtoTopPh {
  width: 69px;
  height: 100%;
  background: var(--main, #d1ef1a);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.arrowIconPh {
  width: 18px;
  height: 18px;
  color: #3e3b35;
}
.backtoTopTextPh {
  color: #3e3b35;
  writing-mode: vertical-lr;
  font-size: 15px;
  margin: 0 5px;
}
